:root {
  --skillBarTextColor: #ffffff !important;
  --skillBarBgColor: #FF4A57 !important;


  --color-primary : #FF4A57;
  --color-bg-blue : #1F2235;
  --color-dark-blue : #24263B;
  --color-ligth : #fff
  

  font-size: 62.5%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body{
  background-color: var(--color-bg-blue);
}


.container{
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.bg{
  width: 100%;
  background-color: var(--color-dark-blue);
  padding: 3rem 0;

  border-bottom: 2px solid var(--color-primary);
}

.divisor{
  width: 100%;
  height: 1px;
  background: var(--color-primary);
}

@media screen and(max-width: 768px){
  :root {
    font-size: 55%;
  }
  }

