.skillbar{
  border: 2px solid var(--color-primary) !important;
  border-radius: 20px !important;
 
}

.skillbar-bar{
  height: 100% !important;
  border-radius: 0px 20px 20px 0px !important;
}

.skillbar-percent{
  display: none;
}


.skillbar-title{
  height: 100% !important;
  border-radius: 20px 0 0 20px !important;
}

@media (min-width: 768px){

.skill-cover{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

}
