.skillbar{
  border: 2px solid #FF4A57;
  border-radius: 20px !important;
 
}

.skillbar-bar{
  height: 100% !important;
  border-radius: 0px !important;
}

.skillbar-percent{
  display: none;
}


.skillbar-title{
  height: 100% !important;
  border-radius: 20px 0 0 20px !important;
}